* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
    background-image: url(../images/loraMartinHeader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode:multiply;
    
}




.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding : 20px;
    background-color: rgb(0,0,0,0.4);
    color:white;
    font-size:30px;
    font-family: "Roboto", sans-serif;
}
.logo{
    font-family: "Bebas Neue";
    font-size: 35px;
    font-weight: 800;
}

.navLinks a{
    text-decoration: none;
    padding:10px;
    color:white;
    font-size: 15px;;

}


.container2{
    /* padding-left: 150px;
    padding-top: 30px; */
    margin-left: 120px;
    color:white;
}

.container2 div{
    font-weight: 400;
    font-size : 75px ;
    font-style:normal;
    font-family:"Bebas Neue";
}
.container2 p{
    font-size: 22px;
    font-weight: 300;
    margin-top:8px;
    margin-bottom: 40px;
    font-family:"Roboto", sans-serif;
    line-height: 30px;
    
}

.logo1{
    display:flex;
     padding-top:30px;
    /*padding-left:130px */
    margin-left: 120px;

    padding-bottom: 80px;
}

.logo1 img{
    width:62px;
    height:62px;
    padding:10px;
}


#features{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
    margin-left: 120px;
    margin-right:120px;
    column-gap: 50px;
    margin-top: 100px;
    /* padding-bottom: 130px; */
    margin-bottom: 130px;

}
#features img{
    height: 80px;
}
.content{
    padding-top:20px;
    padding-bottom:20px;
}

.content1{
    font-weight: bold;
    font-family:"Roboto", sans-serif ;
    margin-top: 30px;
}
.content2{
    color: grey;
    font-weight:500;
    font-family:"Roboto", sans-serif ;
    margin-top:20px
}



.divider{
    border:1px solid grey;
}


.blue-section{
    background-color: rgb(5, 5, 162);
    color: white;
    
}




.imagesSlider{
    margin-left: 120px;
    margin-right:120px;
    padding-bottom: 60px;
}

#imgslide{
    /* padding:5px; */
    display:grid;
    grid-template-columns: auto auto auto auto;

    /* display:flex;
    justify-content:space-between; */
    /* padding:80px; */
}
#imgslide img{
    height: 250px; 
    
}














#perDet{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 80px;
}

#perDetImg img{
    width:700px;
    height:800px;
}
#perDetContent{
    padding-top: 200px;
}

#perDetContent div{
    padding-bottom: 30px;;
}

.pD1 h2{
    font-size: 40px;
    
    /* letter-spacing: 1px; */
    font-weight:300;
    font-family: "Bebas Neue", sans-serif;
    color: rgb(2, 2, 37);
}
.pD1 p{
    font-size: 17px;
    font-weight:350;
    font-family:"Roboto", sans-serif ;
    color:grey;
}
.pD1 li{
    /* padding-top: 20px; */
    padding-bottom: 30px;
}

.pDButton{
    display: inline-block;
    background-color: rgb(4, 4, 72);
    color:white;
    border:none;
    text-decoration: none;
    text-align: center;
    padding:15px 24px;

}


